<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing"></script>

<!-- Page heading one starts -->

<div class="page-heading-one">
  <h2>My Meetings</h2>
  <p class="bg-color"><a href="" data-toggle="modal" data-target="#myModal">Create a new meeting</a></p>
</div>

<!-- Page heading one ends -->
<div class="container" ng-app="app">
  <div ng-controller="meetingsCtrl" ng-init="setupIndex()">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" id="calendar"></div>
    <div class="blog-masonry">
      <div class="item" ng-repeat="meeting in meetings">
        <!-- Entry for each grid -->
        <div class="grid-entry">
          <div class="grid-img" ng-if="false">
            <!-- Image -->
            <img src="{{ meeting.image }}" class="img-responsive" alt="" />
            <!-- Grid Image Hover Effect -->
            <span class="grid-img-hover"></span>
            <a href="{{ meeting.image }}" class="lightbox">
              <i class="fa fa-search hover-icon"></i>
            </a>
          </div>
          <!-- Grid entry information -->
          <div class="entry-info">
            <h4><a href="/meetings/{{ meeting.id }}">{{ meeting.title }}</a></h4>
            <div class="bor"></div>
            <!-- Paragraph -->

            <p>
              <strong>Start: </strong>{{ meeting.start }}<br>
              <strong>End: </strong>{{ meeting.end }}<br>
              <strong>Address: </strong>{{ meeting.address }}
            </p>
            <a href="/meetings/{{ meeting.id }}" class="read-more">Details <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <hr />

    <!-- Pagination -->
    <ul class="pagination">
      <!-- List -->
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>

    <div id="googleMap" style="height:380px;"></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Meeting</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="newMeetingTitle" name="name" id="name" value="{{ meeting.title }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input ng-model="newMeetingAddress" name="address" id="address" value="{{ meeting.address }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="start_time">Start time</label>
                <input ng-model="newMeetingStart" type="datetime-local" name="start_time" id="start_time" value="{{ defaultStart }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="end_time">End time</label>
                <input ng-model="newMeetingEnd" type="datetime-local" name="end_time" id="end_time" value="{{ defaultEnd }}" class="form-control">
              </div>
              <div class="form-group">
                <label for="users">Attending</label>
                <div>
                  <!-- collection_check_boxes :meeting, :user_ids, @members, :id, :email -->
                  <div ng-repeat="member in members">
                    <input ng-model="member.selected" type="checkbox" value="{{ member.id }}" name="meeting[user_ids][]" id="meeting_user_ids_{{ member.id }}">
                    <label for="meeting_user_ids_{{ member.id }}">{{ member.email }}</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createNewMeeting()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Javascript for this page -->
<!-- Imageloaded js-->
<script src="/js/imagesloaded.min.js"></script>
<!-- Masonry JS -->
<script src="/js/masonry.js"></script>


