<h1>Welcome to the app!!!</h1>

<% if current_user %>
  <%= link_to "Sign out", "/users/sign_out", method: :delete %>
<% else %>
  <%= link_to "Sign in", "/users/sign_in" %>
  <%= link_to "Sign up", "/users/sign_up" %>
<% end %>